
# OgbujiPT==0.7.1
# If needed to pin to some specific commit or branch, use the following syntax:
# OgbujiPT @ git+https://github.com/OoriData/OgbujiPT@{BRANCH_OR_COMMIT}
OgbujiPT @ git+https://github.com/OoriData/OgbujiPT@206cac7e196c32669b8b74403fe8d8bbdc48cdd8
